* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", monospace;
}

body {
  background: #FFF6F6;
  color: black;
 /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #262E5B;
  border-radius: 4px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

h1 {
  font-family: "Roboto Serif", monospace;
  font-weight: 300;
}

p {
  font-family: "Poppins", monospace;
  font-weight: 200 !important;
}

.w-350{
  max-width: 350px;
  text-align: center;

}
.flx-grw{
  flex-grow: 1;
}
.align-left{
  text-align: left;

}
.color-black{
  color: #c4c4c4;
  font-weight: 500 !important;
}
.mywrapper:hover{
  background-color: #262e5b;
  cursor: pointer;
}
.mywrapper:hover p{
  color: white !important;
}