* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "source-code-pro", monospace;
}

body {
  background: #000000;
  color: #ecedee;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

h1 {
  font-family: "source-code-pro", monospace;
}

p {
  font-family: "source-code-pro", monospace;
  font-weight: 200 !important;
  color: white;
}
